{% extends "includes/base.html" %}

{% block title %}poll list{% endblock %}
{% block content %}
<h1>Poll list</h1>
<hr>
<h2>active polls</h2>
<table class="longturn" width=100%>
<th width=180>title</th>
<th width=70>game</th>
<th width=100>author</th>
<th>created</th>
<th>ends</th>
{% for p in apolls %}
<tr class="{% cycle row0,row1 %}">
<td><a href="{% url poll p.id %}">{{ p.title }}</a></td>
<td><a href="{% url game p.game %}">{{ p.game }}</a></td>
<td><a href="{% url profile p.author %}">{{ p.author }}</a></td>
<td>{{ p.pub_date|date:"d.m.Y" }}</td>
<td>{{ p.end_date|date:"d.m.Y" }}</td>
</tr>
{% endfor %}
</table>
<hr>

<h2>finished polls</h2>
<table class="longturn" width=100%>
<th width=180>title</th>
<th width=70>game</th>
<th width=100>author</th>
<th>created</th>
<th>ended</th>
<th width=30 title="Valid (in accordance with our rules)">val</th>
<th width=30 title="Vote Passed">vp</th>
<th width=30 title="Change Commited">cc</th>
{% for p in epolls %}
<tr class="{% cycle row0,row1 %}">
<td><a href="{% url poll p.id %}">{% if not p.valid %}<strike>{{ p.title }}</strike>{% else %}{{ p.title }}{% endif %}</a></td>
<td><a href="{% url game p.game %}">{{ p.game }}</a></td>
<td><a href="{% url profile p.author %}">{{ p.author }}</a></td>
<td>{{ p.pub_date|date:"d.m.Y" }}</td>
<td>{{ p.end_date|date:"d.m.Y" }}</td>
<td><center><img width=16 height=16 {% if p.valid %}src="{{ STATIC_URL }}/good.png"{% else %}src="{{ STATIC_URL }}/bad.png"{% endif %}></center></td>
<td><center><img width=16 height=16 {% if p.passed %}src="{{ STATIC_URL }}/good.png"{% else %}src="{{ STATIC_URL }}/bad.png"{% endif %}></center></td>
<td><center><img width=16 height=16 {% if p.commited %}src="{{ STATIC_URL }}/good.png"{% else %}src="{{ STATIC_URL }}/bad.png"{% endif %}></center></td>
</tr>
{% endfor %}
</table>
<hr>
{% endblock %}
