{%extends "includes/base.html" %}
{%load game_extras %}
{%load temps %}

{%block title %}Longturn Ranking{% endblock %}
{%block content %}
<h1>Longturn Ranking</h1>
<hr>
<h2>Rules of the Ranking List</h2>

<ul>
	<li>Players have to complete at least two games to be displayed in the ranking list.</li>
	<li>Players who have not played in any of the last 10 games are not displayed, but their scores are stored in the database and will be displayed once they play a new game.</li>
</ul>

<h2>Ranking Algorithm</h2>

<ul>
	<li>Each new LT player is assigned a score of 1000.</li>
	<li>Losers of an LT game lose P% of their score.</li>
	<li>Winners of an LT game equally share the total points lost by the losing players. So, winning with fewer players brings more points to the winners encouraging smaller alliances/teams.</li>
	<li>The value of P is constant (10%) for team and no-diplomacy (lone wolf) games regardless of the team size or number of teams/players as every team/player has an equal chance to win.</li>
	<li>For alliance games, P is larger/smaller for a smaller/larger winning alliance and is calculated as follows:

<pre>
Q=T/W=(total number of players) / (number of winners):
ifQ <= 2 then P = 0%
if2 < Q <= 2.5 then P = 2.5%
if2.5 < Q <= 3.5 then P = 5%
if3.5 < Q <= 4.5 then P = 7.5%
if4.5 < Q <= 6 then P = 10%
if6 < Q <= 10 then P = 12.5%
ifQ >10 then P = 15%
</pre>
</li>

So if a smaller alliance wins, losing players lose more points and winners
share more points among fewer players (a double advantage).
</ul>
<table class="longturn" width=100%>
<tr><th width=20>Rank</th><th>Player</th><th>Score</th><th>Won</th><th>Lost</th><th>Survived</th><th>Last Game</th></tr>
<tr><td>1</td><td>wieder</td><td>4323</td><td>5</td><td>2</td><td>0</td><td>LT37</td></tr>
<tr><td>2</td><td>edrim</td><td>4044</td><td>9</td><td>11</td><td>0</td><td>LT36</td></tr>
<tr><td>3</td><td>kryon</td><td>3371</td><td>5</td><td>7</td><td>0</td><td>LT37</td></tr>
<tr><td>4</td><td>terror</td><td>2938</td><td>3</td><td>4</td><td>0</td><td>LT30</td></tr>
<tr><td>5</td><td>kevin551</td><td>2928</td><td>5</td><td>6</td><td>0</td><td>LT32</td></tr>
<tr><td>6</td><td>cgalik</td><td>2857</td><td>5</td><td>6</td><td>0</td><td>LT38</td></tr>
<tr><td>7</td><td>mrsynical</td><td>2740</td><td>6</td><td>11</td><td>0</td><td>LT32</td></tr>
<tr><td>8</td><td>mmm</td><td>2516</td><td>4</td><td>6</td><td>0</td><td>LT38</td></tr>
<tr><td>9</td><td>akfaew</td><td>2438</td><td>5</td><td>8</td><td>0</td><td>LT36</td></tr>
<tr><td>10</td><td>elrik</td><td>1997</td><td>6</td><td>17</td><td>0</td><td>LT37</td></tr>
<tr><td>11</td><td>duncan shriek</td><td>1975</td><td>3</td><td>4</td><td>0</td><td>LT30</td></tr>
<tr><td>12</td><td>dimitril</td><td>1964</td><td>1</td><td>1</td><td>0</td><td>LT32</td></tr>
<tr><td>13</td><td>det0r</td><td>1777</td><td>4</td><td>9</td><td>0</td><td>LT32</td></tr>
<tr><td>14</td><td>kull</td><td>1768</td><td>1</td><td>2</td><td>0</td><td>LT36</td></tr>
<tr><td>15</td><td>ollikka</td><td>1733</td><td>1</td><td>1</td><td>0</td><td>LT31</td></tr>
<tr><td>16</td><td>modeemirotta</td><td>1733</td><td>1</td><td>1</td><td>0</td><td>LT31</td></tr>
<tr><td>17</td><td>xandr</td><td>1726</td><td>1</td><td>2</td><td>0</td><td>LT34</td></tr>
<tr><td>18</td><td>luke7658</td><td>1678</td><td>2</td><td>0</td><td>0</td><td>LT38</td></tr>
<tr><td>19</td><td>corbeau</td><td>1578</td><td>2</td><td>3</td><td>0</td><td>LT38</td></tr>
<tr><td>20</td><td>jhh</td><td>1560</td><td>1</td><td>2</td><td>0</td><td>LT32</td></tr>
<tr><td>21</td><td>joris</td><td>1546</td><td>1</td><td>3</td><td>0</td><td>LT38</td></tr>
<tr><td>22</td><td>jumangee</td><td>1540</td><td>1</td><td>1</td><td>0</td><td>LT32</td></tr>
<tr><td>23</td><td>oletraveler</td><td>1508</td><td>3</td><td>4</td><td>0</td><td>LT29</td></tr>
<tr><td>24</td><td>stratthinker</td><td>1498</td><td>1</td><td>1</td><td>0</td><td>LT34</td></tr>
<tr><td>25</td><td>chill</td><td>1473</td><td>3</td><td>3</td><td>0</td><td>LT38</td></tr>
<tr><td>26</td><td>sandain</td><td>1407</td><td>2</td><td>2</td><td>0</td><td>LT35</td></tr>
<tr><td>27</td><td>taulover</td><td>1407</td><td>2</td><td>2</td><td>0</td><td>LT35</td></tr>
<tr><td>28</td><td>luca</td><td>1379</td><td>1</td><td>1</td><td>0</td><td>LT34</td></tr>
<tr><td>29</td><td>xercise</td><td>1258</td><td>1</td><td>2</td><td>0</td><td>LT36</td></tr>
<tr><td>30</td><td>haken</td><td>1194</td><td>2</td><td>8</td><td>0</td><td>LT37</td></tr>
<tr><td>31</td><td>dvgo</td><td>1179</td><td>1</td><td>3</td><td>0</td><td>LT36</td></tr>
<tr><td>32</td><td>kernow</td><td>1162</td><td>1</td><td>4</td><td>0</td><td>LT30</td></tr>
<tr><td>33</td><td>bluemoth</td><td>1161</td><td>2</td><td>5</td><td>0</td><td>LT30</td></tr>
<tr><td>34</td><td>monamipierrot</td><td>1159</td><td>1</td><td>2</td><td>0</td><td>LT31</td></tr>
<tr><td>35</td><td>aczern.</td><td>1138</td><td>1</td><td>3</td><td>0</td><td>LT30</td></tr>
<tr><td>36</td><td>temmikael</td><td>1105</td><td>1</td><td>7</td><td>0</td><td>LT37</td></tr>
<tr><td>37</td><td>kg</td><td>1105</td><td>1</td><td>4</td><td>0</td><td>LT30</td></tr>
<tr><td>38</td><td>pytoux</td><td>1087</td><td>3</td><td>7</td><td>0</td><td>LT29</td></tr>
<tr><td>39</td><td>soon</td><td>1080</td><td>1</td><td>8</td><td>0</td><td>LT37</td></tr>
<tr><td>40</td><td>pipo</td><td>1067</td><td>2</td><td>8</td><td>0</td><td>LT36</td></tr>
<tr><td>41</td><td>grendel</td><td>1053</td><td>1</td><td>1</td><td>0</td><td>LT31</td></tr>
<tr><td>42</td><td>bamskamp</td><td>1014</td><td>1</td><td>5</td><td>0</td><td>LT36</td></tr>
<tr><td>43</td><td>sketlux</td><td>1008</td><td>1</td><td>1</td><td>0</td><td>LT38</td></tr>
<tr><td>44</td><td>zoe</td><td>1008</td><td>1</td><td>1</td><td>0</td><td>LT38</td></tr>
<tr><td>45</td><td>dfroger</td><td>900</td><td>0</td><td>1</td><td>1</td><td>LT34</td></tr>
<tr><td>46</td><td>drew</td><td>896</td><td>1</td><td>2</td><td>0</td><td>LT36</td></tr>
<tr><td>47</td><td>buggy</td><td>895</td><td>1</td><td>2</td><td>0</td><td>LT38</td></tr>
<tr><td>48</td><td>evan</td><td>883</td><td>1</td><td>2</td><td>0</td><td>LT35</td></tr>
<tr><td>49</td><td>elpollodiablo</td><td>816</td><td>1</td><td>3</td><td>0</td><td>LT38</td></tr>
<tr><td>50</td><td>harry</td><td>810</td><td>0</td><td>2</td><td>0</td><td>LT37</td></tr>
<tr><td>51</td><td>asdema</td><td>810</td><td>0</td><td>2</td><td>0</td><td>LT37</td></tr>
<tr><td>52</td><td>ptizoom</td><td>810</td><td>0</td><td>2</td><td>0</td><td>LT38</td></tr>
<tr><td>53</td><td>canuck101</td><td>805</td><td>1</td><td>6</td><td>0</td><td>LT30</td></tr>
<tr><td>54</td><td>nicemicro</td><td>795</td><td>1</td><td>3</td><td>0</td><td>LT36</td></tr>
<tr><td>55</td><td>jontte</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT36</td></tr>
<tr><td>56</td><td>robotis</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT36</td></tr>
<tr><td>57</td><td>o01leg</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT38</td></tr>
<tr><td>58</td><td>tom watson</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT29</td></tr>
<tr><td>59</td><td>krugers</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT29</td></tr>
<tr><td>60</td><td>jza</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT29</td></tr>
<tr><td>61</td><td>jcreus</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT34</td></tr>
<tr><td>62</td><td>topyli</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT32</td></tr>
<tr><td>63</td><td>archont</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT32</td></tr>
<tr><td>64</td><td>hasp93</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT32</td></tr>
<tr><td>65</td><td>kes_of_kobo</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT32</td></tr>
<tr><td>66</td><td>tuhin</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT32</td></tr>
<tr><td>67</td><td>vendicar</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT34</td></tr>
<tr><td>68</td><td>nevermind</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT33</td></tr>
<tr><td>69</td><td>pamplina</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT33</td></tr>
<tr><td>70</td><td>cedricd</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT34</td></tr>
<tr><td>71</td><td>seeschloss</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT34</td></tr>
<tr><td>72</td><td>vidlius</td><td>787</td><td>0</td><td>2</td><td>0</td><td>LT34</td></tr>
<tr><td>73</td><td>dunderklumpen</td><td>766</td><td>0</td><td>2</td><td>0</td><td>LT31</td></tr>
<tr><td>74</td><td>illvilja</td><td>766</td><td>0</td><td>2</td><td>0</td><td>LT31</td></tr>
<tr><td>75</td><td>richard_lynx</td><td>766</td><td>0</td><td>2</td><td>0</td><td>LT31</td></tr>
<tr><td>76</td><td>robodave</td><td>747</td><td>1</td><td>4</td><td>0</td><td>LT30</td></tr>
<tr><td>77</td><td>sigur</td><td>729</td><td>0</td><td>3</td><td>0</td><td>LT37</td></tr>
<tr><td>78</td><td>kocurek</td><td>729</td><td>0</td><td>3</td><td>0</td><td>LT38</td></tr>
<tr><td>79</td><td>fcas</td><td>708</td><td>0</td><td>3</td><td>0</td><td>LT29</td></tr>
<tr><td>80</td><td>ozormox</td><td>689</td><td>0</td><td>3</td><td>0</td><td>LT30</td></tr>
<tr><td>81</td><td>incansus</td><td>689</td><td>0</td><td>3</td><td>0</td><td>LT30</td></tr>
<tr><td>82</td><td>kyrilus</td><td>689</td><td>0</td><td>3</td><td>0</td><td>LT31</td></tr>
<tr><td>83</td><td>chuck</td><td>689</td><td>0</td><td>3</td><td>0</td><td>LT32</td></tr>
<tr><td>84</td><td>meton</td><td>689</td><td>0</td><td>3</td><td>0</td><td>LT32</td></tr>
<tr><td>85</td><td>keysersoze</td><td>655</td><td>0</td><td>4</td><td>0</td><td>LT30</td></tr>
<tr><td>86</td><td>ste</td><td>638</td><td>1</td><td>8</td><td>0</td><td>LT32</td></tr>
<tr><td>87</td><td>wwqt</td><td>637</td><td>0</td><td>4</td><td>1</td><td>LT37</td></tr>
<tr><td>88</td><td>ankka8x</td><td>637</td><td>0</td><td>4</td><td>0</td><td>LT35</td></tr>
<tr><td>89</td><td>maho</td><td>632</td><td>4</td><td>20</td><td>0</td><td>LT37</td></tr>
<tr><td>90</td><td>kingofnerds</td><td>619</td><td>0</td><td>4</td><td>0</td><td>LT31</td></tr>
<tr><td>91</td><td>pekka</td><td>603</td><td>0</td><td>4</td><td>0</td><td>LT30</td></tr>
<tr><td>92</td><td>paavo</td><td>587</td><td>1</td><td>6</td><td>0</td><td>LT38</td></tr>
<tr><td>93</td><td>chomwitt</td><td>558</td><td>0</td><td>5</td><td>0</td><td>LT37</td></tr>
<tr><td>94</td><td>marduk</td><td>523</td><td>4</td><td>16</td><td>0</td><td>LT38</td></tr>
<tr><td>95</td><td>el_perdedor</td><td>516</td><td>0</td><td>6</td><td>0</td><td>LT37</td></tr>
<tr><td>96</td><td>lord_p</td><td>504</td><td>1</td><td>8</td><td>0</td><td>LT38</td></tr>
<tr><td>97</td><td>ifaesfu</td><td>475</td><td>0</td><td>6</td><td>0</td><td>LT34</td></tr>
<tr><td>98</td><td>sokrat</td><td>418</td><td>0</td><td>8</td><td>0</td><td>LT38</td></tr>
<tr><td>99</td><td>urgo</td><td>357</td><td>0</td><td>10</td><td>0</td><td>LT30</td></tr>
</table>
</p>
{%endblock %}
