# template file with blank passwords, remove .template for production

DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.postgresql_psycopg2',
		'NAME': 'longturn',
		'USER': 'longturn',
		'PASSWORD': 'XXX',
		'HOST': '',
		'PORT': '',
	},
	'fluxbb': {
		'ENGINE': 'django.db.backends.postgresql_psycopg2',
		'NAME': 'longturn-fluxbb',
		'USER': 'longturn',
		'PASSWORD': 'XXX',
		'HOST': '',
		'PORT': '',
	}
}

SECRET_KEY = 'XXX'
