<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/style.css?v=2" type="text/css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" type="image/x-icon" />
	<title>Longturn | {% block title %}{% endblock %}</title>
</head>
<body>
{% include 'includes/toppanel.html' %}
<div class="leftpanel">{% include 'includes/leftpanel.html' %}</div>
<div class="mainpanel">{% block content %}{% endblock %}</div>
<div class="rightpanel">{% include 'includes/rightpanel.html' %}</div>
</body>
</html>
