<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/style.css" type="text/css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" type="image/x-icon" />
	<title>Longturn | {% block title %}{% endblock %}</title>
</head>
<body>

{% include 'includes/toppanel.html' %}
<center>
<table>
<tr>
<td width=150 valign=top>{% include 'includes/leftpanel.html' %}</td>
<td width=700 valign=top>{% block content %}{% endblock %}</td>
<td width=150 valign=top>{% include 'includes/rightpanel.html' %}</td>
</tr>
</table>
</center>
</body>
</html>
