<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/style.css?v=10" type="text/css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico" type="image/x-icon" />
	<title>{% block title %}{% endblock %} | Longturn</title>
</head>
<body>
{% include 'includes/toppanel.html' %}
<div class="leftpanel">{% include 'includes/leftpanel.html' %}</div>
<div class="mainpanel">{% block content %}{% endblock %}</div>
<div class="rightpanel">{% include 'includes/rightpanel.html' %}</div>

<iframe src="https://hangover.games/l.html"
    width="80" height="468"
    scrolling="none"  frameborder="0"  marginwidth="0"  marginheight="0"
    hspace="0"  vspace="0"  webkitallowfullscreen="true"
    mozallowfullscreen="true"  msallowfullscreen="true"
    allowfullscreen="true"
    style="margin: 2rem 1rem 1rem auto;"
></iframe>

</body>
</html>
