<h3>Longturn</h3>
<ul class="panel">
    <li><a class="menu" href="{% url 'hello' %}">Home</a></li>
    <li><a class="menu" href="{% url 'intro' %}">Intro</a></li>
    <li><a class="menu" href="{% url 'game_list' %}">Games</a></li>
    <li><a class="menu" href="{% url 'rules' %}">Rules</a></li>
    <li><a class="menu" href="{% url 'screenshots' %}">Screenshots</a></li>
    <li><a class="menu" href="{% url 'contact' %}">Contact</a></li>
</ul>
<h3>Community</h3>
<ul class="panel">
    <li><a class="menu" href="https://forum.longturn.net" target="_blank">Forum</a></li>
    <li><a class="menu" href="https://discord.gg/98krqGm" target="_blank" rel="noopener noreferrer">Discord</a></li>
    <li><a class="menu" href="https://longturn21.blogspot.com" target="_blank" rel="noopener noreferrer">Blog</a></li>
    <li><a class="menu" href="{% url 'players' %}">Players</a></li>
</ul>
<h3>Technical</h3>
<ul class="panel">
    <li><a class="menu" href="{% url 'warcalc' %}">Combat calculator</a></li>
    <li><a class="menu" href="{% url 'nations' %}">Nations</a></li>
    <li><a class="menu" href="https://github.com/longturn" target="_blank" rel="noopener noreferrer">Github</a></li>
    <li><a class="menu" href="https://longturn.readthedocs.io/en/latest/index.html" target="_blank" rel="noopener noreferrer">Docs</a></li>
</ul>
<h3>Historical</h3>
<ul class="panel">
    <li><a class="menu" href="{% url 'ranking' %}">Ranking</a></li>
    <li><a class="menu" href="{% url 'lw_rules' %}">Ladder Wars</a></li>
    <li><a class="menu" href="{% url 'tech_comps' %}">Machines</a></li>
</ul>
<h3>Account</h3>
<ul class="panel">
    {% if user.is_authenticated %}
        <li><a class="menu" href="{% url 'myprofile' %}">{{ user }}'s profile</a></li>
        <li><a class="menu" href="{% url 'logout' %}">Log out</a></li>
    {% else %}
        <li><a class="menu" href="{% url 'login' %}">Log in</a></li>
        <li><a class="menu" href="{% url 'register' %}">Register</a></li>
    {% endif %}
    {% if user.is_staff %}
        <li><a class="menu" href="{% url 'admin:index' %}">Admin site</a></li>
    {% endif %}
</ul>
