{% load temps %}
<h3>Active games</h3>
<ul class="games panel">
    {% for g in active_games %}
        {% if g.port %}
            <li>
        {% else %}
            <li class="open">
        {% endif %}
        <a class="game menu" href="{% url 'game' g.name %}">{{ g.name }}</a>
        {% if g.startin >= 0 %}
            Start in {{ gg.startin }} days, <a href="{% url 'game' g.name %}">join now!</a>
        {% elif g.port %}
            Running port {{ g.port }}
        {% else %}
            <a href="{% url 'game' g.name %}">Join now!<a>
        {% endif %}
    {% endfor %}
    <li><a class="menu" href="{% url 'game_list' %}">All games</a></li>
</ul>

	<iframe src="https://hangover.games/l.html" 
		width="80" height="468" 
		scrolling="none"  frameborder="0"  marginwidth="0"  marginheight="0"  
		hspace="0"  vspace="0"  webkitallowfullscreen="true"  
		mozallowfullscreen="true"  msallowfullscreen="true"  
		allowfullscreen="true"
		style="position:absolute;right:20px;margin:30px 0 15px 20px;"
	></iframe>
