<header>
	<a href="{% url 'hello' %}"><img class="logo" src="{{ STATIC_URL }}/logo.png" alt="LONGTURN"/></a>
	Playing Freeciv, one turn per day
</header>
<nav class="topmenu">
    <ul>
        <li><a class="menu" href="/">Home</a></li>
        <li><a class="menu" href="/screenshots/">Maps</a></li>
        <li><a class="menu" href="/rules/">Rules</a></li>
        <li><a class="menu" href="https://discord.gg/98krqGm">Discord</a></li>
        <li><a class="menu" href="https://forum.longturn.net">Forum</a></li>
        <li><a class="menu" href="/contact/">Contact</a></li>
        <li><a class="menu" href="https://github.com/longturn">Github</a></li>
    </ul>
</nav>
