<header>
	<a href="{% url 'hello' %}"><img class="logo" src="{{ STATIC_URL }}/logo.png" alt="LONGTURN"/></a>
	Playing Freeciv, one turn per day
</header>
<nav class="topmenu">
    <ul>
        <li><a class="menu" href="/">Home</a></li>
        <li><a class="menu" href="/screenshots/">Maps</a></li>
        <li><a class="menu" href="/rules/">Rules</a></li>
        <li><a class="menu" href="https://discord.gg/98krqGm" target="_blank" rel="noopener noreferrer">Discord</a></li>
        <li><a class="menu" href="https://forum.longturn.net" target="_blank">Forum</a></li>
        <li><a class="menu" href="/contact/">Contact</a></li>
        <li><a class="menu" href="https://github.com/longturn" target="_blank" rel="noopener noreferrer">Github</a></li>
        <li><a class="menu" href="https://longturn.readthedocs.io/en/latest/index.html" target="_blank" rel="noopener noreferrer">Docs</a></li>
    </ul>
</nav>
