/* Layout */
body {
    display: grid;
    /* gutter left main right gutter */
    grid-template-columns: auto 10rem minmax(30rem, 50rem) 20rem auto;
    margin: 0;
}

/* Just for the background */
body::before {
    background-color: #050505;
    background-image: url("/static/units.png");
    content: "";
    grid-column: 1 / 6;
    grid-row: 1 / 3;
}

header {
    padding: 2rem 1rem;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

nav.topmenu {
    grid-column: 3;
    grid-row: 2;
}

div.leftpanel {
    grid-column: 2 / 3;
    grid-row: 3;
    padding: 10px;
}

div.mainpanel {
    grid-column: 3 / 4;
    padding: 1rem;
}

div.rightpanel {
    grid-column: 4 / 5;
    padding: 10px;
}

/* Styling */
header {
    background-color: #0006;
    color: #ec9b44;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
}

body {
	background-image: url("/static/background.png");
	margin: 0 0 0 0;
}

nav.topmenu > ul {
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav.topmenu li {
    display: inline-block;
    padding: .5rem 0;
}

nav.topmenu li:not(:first-child)::before {
  content: "🞙";
  color: #888;
  padding: 0 1rem;
}

nav.topmenu a {
    color: #ec9b44;
    font-weight: bold;
}

div.mainpanel {
    border-left: 1px solid #0002;
    border-right: 1px solid #0002;
    background: #00000009;
}

th {
	padding: 0.2em 0.5ex 0.2em 0.5ex;
}

table.toppanel {
	color: #DDBB88;
	background-color: #111111;
}

table.toppanel td {
	padding: 0.0em 2ex 0.0em 2ex;
	border: 1;
	cellspacing: 1;
	cellpadding: 1;
	background-color: #222222;
}

table.toppanel th {
	padding: 0.0em 2ex 0.0em 2ex;
	border: 1;
	cellspacing: 1;
	cellpadding: 1;
}

table.toppanel a,
table.toppanel a:hover,
table.toppanel a:visited {
    color: #DDBB88;
}

table.longturn {
	padding: 0.0em 0ex 0.0em 0ex;
	background-color: #CCBB88;
	color: black;
}

table.longturn th {
	text-align: left;
	background-color: #998855;
	color: black;
}

table.longturn td {
	background-color: #BBAA77;
}

tr.row0 td {
	background-color: #BBAA77;
	color: black;
}

tr.row1 td {
	background-color: #AA9966;
	color: black;
}


table.comps {
	padding: 0.0em 0ex 0.0em 0ex;
	background-color: #998855;
	color: black;
}

table.comps th {
	text-align: left;
	background-color: #AA9966;
	color: black;
}

table.comps td {
	background-color: #BBAA77;
}

td.cat {
	padding: 0.0em 1ex 0.0em 1ex;
	text-align: right;
}

td.val {
	padding: 0.0em 1ex 0.0em 1ex;
	text-align: left;
}

ul.panel {
	padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h2 {
}

fieldset {
	background-color: rgba(170, 153, 102, .2);
	border: 1px solid #443300;
	width: 20em
}

legend {
	background-color: rgba(170, 153, 102, .2);
	border: 1px solid #443300;
	padding: 2px 6px
}

hr {
	border: 1px solid #BBAA77;
}

.codebox {
	overflow: auto;
	width: 100%;
	overflow-y: hidden
}


select {
	background-color: #BBAA77;
	border: 1px solid #443300;
}

textarea {
	background-color: #BBAA77;
	border: 1px solid #443300;
}
textarea:hover { background-color: #CCBB88; }
textarea:focus { background-color: #CCBB88; }

input {
	background-color: #BBAA77;
	border: 1px solid #443300;
}
input:hover { background-color: #CCBB88; }
input:focus { background-color: #CCBB88; }

input.button {
	width: 200px;
	background-color: #AA9966;
}
input.button:hover { background-color: #BBAA77; }

img {
    max-width: 100%;
}
img.flag { vertical-align: middle; }
img.glyph { vertical-align: middle; }
img.logo { vertical-align: -20px; }

a { text-decoration: underline; }
a.menu { text-decoration: none; }
a:link { color: #224400; }
a:visited { color: #224400; }
a:active { color: black; }
a:hover {
	text-decoration: underline;
	color: black;
}
