/* Layout */
body {
    display: grid;
    font-family: "Times New Roman", 'Times', "serif";
    font-size: 14pt;
    /* gutter left main right gutter */
    grid-template-columns: auto fit-content(15rem) minmax(30rem, 50rem) fit-content(15rem) auto;
    margin: 0;
}

/* Just for the background */
body::before {
    background-color: #050505;
    background-image: url("/static/units.png");
    content: "";
    grid-column: 1 / 6;
    grid-row: 1 / 3;
}

header {
    padding: 2rem 1rem;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

nav.topmenu {
    grid-column: 3;
    grid-row: 2;
}

/* Smaller screens */
@media screen and (max-width: 1360px) {
    /* Full width headers */
    header, nav.topmenu {
        grid-column: 2 / 6;
    }
}

div.leftpanel {
    grid-column: 2 / 3;
    grid-row: 3;
    padding: 10px;
}

div.mainpanel {
    grid-column: 3 / 4;
    padding: 1rem;
}

div.rightpanel {
    grid-column: 4 / 5;
    padding: 10px;
}

/* Styling */
header {
    background-color: #0006;
    color: #ec9b44;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
}

body {
	background-image: url("/static/background.png");
	margin: 0 0 0 0;
}

nav.topmenu > ul {
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Smaller screens */
@media screen and (max-width: 1360px) {
    /* Looks better */
    nav.topmenu > ul {
        padding-left: 2rem;
        text-align: left;
    }
}

nav.topmenu li {
    display: inline-block;
    padding: .5rem 0;
}

nav.topmenu li:not(:first-child)::before {
  content: "•";
  color: #888;
  padding: 0 1rem;
}

nav.topmenu a {
    color: #ec9b44;
    font-weight: bold;
}

div.mainpanel {
    border-left: 1px solid #0002;
    border-right: 1px solid #0002;
    background: #00000009;
}

ul.games {
    list-style: none;
    margin: 1.2rem 0;
    padding: 0;
}

ul.games > li {
    margin: 0;
    padding: 0.5rem 1rem;
    border: 1pt solid gray;
    border-bottom: none;
}

ul.games > li:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

ul.games > li:last-child {
    border-bottom: 1pt solid gray;
    border-radius: 0 0 0.5rem 0.5rem;
}

ul.games > li {
    background-color: #f0eded4a;
}

ul.games > li.open {
    background-color: white;
}

ul.games a.game {
    display: block;
    font-weight: bold;
}

th {
	padding: 0.2em 0.5ex 0.2em 0.5ex;
}

table.longturn {
	padding: 0.0em 0ex 0.0em 0ex;
	background-color: #CCBB88;
	color: black;
}

table.longturn th {
	text-align: left;
	background-color: #998855;
	color: black;
}

table.longturn td {
	background-color: #BBAA77;
}

tr.row0 td {
	background-color: #BBAA77;
	color: black;
}

tr.row1 td {
	background-color: #AA9966;
	color: black;
}


table.comps {
	padding: 0.0em 0ex 0.0em 0ex;
	background-color: #998855;
	color: black;
}

table.comps th {
	text-align: left;
	background-color: #AA9966;
	color: black;
}

table.comps td {
	background-color: #BBAA77;
}

td.cat {
	padding: 0.0em 1ex 0.0em 1ex;
	text-align: right;
}

td.val {
	padding: 0.0em 1ex 0.0em 1ex;
	text-align: left;
}

ul.panel {
	padding-left: 20px;
}

div.leftpanel,
div.rightpanel {
    padding: 2.5rem 1.5rem;
    background: #fff1;
}

div.leftpanel {
    border-left: 1px solid #0002;
}

div.rightpanel {
    border-right: 1px solid #0002;
}

div.leftpanel > h3,
div.rightpanel > h3 {
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
    margin: 1rem 0;
}

h2 {
    border-bottom: 2px solid #ba7;
}

p {
    line-height: 1.4;
}

div.frame-box {
    display: flex;
}

div.frame-box > div {
    border: 1pt solid gray;
    border-right: none;
    background-color: #f0eded4a;
    margin: 0;
    padding: 0.5rem 1rem;
}

div.frame-box > div:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

div.frame-box > div:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
    border-right: 1pt solid gray;
}

div.frame-box h3 {
    font-weight: bold;
}

fieldset {
	background-color: rgba(170, 153, 102, .2);
	border: 1px solid #443300;
	width: 20em
}

legend {
	background-color: rgba(170, 153, 102, .2);
	border: 1px solid #443300;
	padding: 2px 6px
}

hr {
	border: 1px solid #BBAA77;
}

.codebox {
	overflow: auto;
	width: 100%;
	overflow-y: hidden
}


select {
	background-color: #BBAA77;
	border: 1px solid #443300;
}

textarea {
	background-color: #BBAA77;
	border: 1px solid #443300;
}
textarea:hover { background-color: #CCBB88; }
textarea:focus { background-color: #CCBB88; }

input {
	background-color: #BBAA77;
	border: 1px solid #443300;
}
input:hover { background-color: #CCBB88; }
input:focus { background-color: #CCBB88; }

/* Used for big "join here" buttons */
p.button {
    text-align: center;
}

/* "Join here" */
a.button {
    background-color: white;
    border: 1px gray;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

a.button:hover {
    background-color: #eee;
}

a.button.discord {
    /* Official Discord colors */
    background-color: #7289DA;
    background-image: url("/static/nonfree/discord-logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem;
    border-bottom: 1px solid #23272A;
    border-right: 1px solid #23272A;
    color: transparent;
    display: inline-block;
    font-size: 0;
    height: 5rem;
    width: 12rem;
}

a.button:hover {
    /* Official Discord color */
    background-color: #99AAB5;
}

input.button {
	width: 200px;
	background-color: #AA9966;
}
input.button:hover { background-color: #BBAA77; }

img {
    max-width: 100%;
}
img.flag { vertical-align: middle; }
img.glyph { vertical-align: middle; }
img.logo { vertical-align: -20px; }

ul.image-list {
    list-style: none;
    padding: 0;
}

ul.image-list > li {
    display: inline;
    list-style: none;
}

ul.image-list img {
    max-width: 32%;
}

a { text-decoration: underline; }
a.menu { text-decoration: none; }
a:link { color: #224400; }
a:visited { color: #224400; }
a:active { color: black; }
a:hover {
	text-decoration: underline;
	color: black;
}

kbd {
    font-size: 12pt;
}
