{% extends "includes/base.html" %}
{% load game_extras %}
{% load temps %}

{% block title %}{{ game }}{% endblock %}
{% block content %}
<div class="game-title">
<h1>{{ game.name }}</h1>
<p>
    {% if game.mode == "team game" %}
        {% if old %}
            Historical team game
        {% else %}
            {% if game.date_ended != None %}
                Team game played in {{ game.date_ended|date:"Y" }}
            {% elif startin >= 0 %}
                Team game starting in {{ startin }} days
            {% elif game.date_started == None %}
                Planned team game
            {% else %}
                Ongoing team game
            {% endif %}
        {% endif %}
    {% elif game.mode == "experimental" %}
        {% if old %}
            Historical experimental game
        {% else %}
            {% if game.date_ended != None %}
                Experimental game played in {{ game.date_ended|date:"Y" }}
            {% elif startin >= 0 %}
                Experimental game starting in {{ startin }} days
            {% elif game.date_started == None %}
                Planned experimental game
            {% else %}
                Ongoing experimental game
            {% endif %}
        {% endif %}
    {% else %}
        {% if old %}
            Historical game
        {% else %}
            {% if game.date_ended != None %}
                Game played in {{ game.date_ended|date:"Y" }}
            {% elif startin >= 0 %}
                Game starting in {{ startin }} days
            {% elif game.date_started == None %}
                Planned game
            {% else %}
                Ongoing game
            {% endif %}
        {% endif %}
    {% endif %}
</p>
{% if hasjoined %}
    <div class="join-label">
        <a href="#">
            <img class="flag" src="{{ STATIC_URL }}/flags/{{ flag }}.png"/>
            Joined as the {{ nation }}
        </a>
        <ul>
            {% if game.has_ended %}
                <li>Game ended
            {% elif game.open and not game.has_started %}
                <li>
                    <form action="" method="post">{% csrf_token %}
                        {{ form.nation.label_tag }}
                        {{ form.nation }}
                        <input class="button" type="submit" name="signin" value="Modify">
                    </form>
                <li>
                    <form action="" method="post">{% csrf_token %}
                        <input id="id_nation" name="nation" type="hidden" value="{{ nation }}">
                        <input class="button" type="submit" name="signout" value="Sign out">
                    </form>
            {% else %}
                <li>Actions at the bottom of the page
            {% endif %}
        </ul>
    </div>
{% endif %}
</div>

<div class="frame-box">
<div>
<h3>Game info</h3>
<table>
<tr>
	<td align=right>Host:</td>
	{% if game.host %}
	<td><kbd>{{ game.host }}</kbd></td>
	{% else %}
	<td>unknown</td>
	{% endif %}
</tr>
<tr>
	<td align=right>Port:</td>
	{% if game.port %}
	<td><kbd>{{ game.port }}</kbd></td>
	{% else %}
	<td>unknown</td>
	{% endif %}
</tr>
<tr>
	<td align=right>Version:</td>
	<td>Freeciv {{ game.version }}</td>
</tr>
</table>
</div>
<div>
<table>
{% if game.admin != None %}
<tr>
	<td align=right>Admin:</td>
	{% if old %}
	<td>{{ game.admin }}</td>
	{% else %}
	<td><a href="{% url 'profile' game.admin %}">{{ game.admin }}</a></td>
	{% endif %}
</tr>
{% endif %}
{% if not old %}
<tr>
	<td align=right>Created:</td>
	<td>{{ game.date_created|date:"d.m.Y" }}</td>
</tr>
{% endif %}
<tr>
	{% if startin >= 0 %}
		<td align=right>Start in:</td>
		<td><b>{{ startin }} days</b></td>
	{% else %}
		<td align=right>Started:</td>
		{% if game.date_started != None %}
		<td>{{ game.date_started|date:"d.m.Y" }}</td>
		{% else %}
		{% if old %}
		<td>forgotten</td>
		{% else %}
		<td>not yet started</td>
		{% endif %}
		{% endif %}
	{% endif %}
</tr>
<tr>
	<td align=right>Ended:</td>
	{% if game.date_ended != None %}
	<td>{{ game.date_ended|date:"d.m.Y" }}</td>
	{% else %}
	{% if old %}
	<td>forgotten</td>
	{% else %}
	<td>not yet ended</td>
	{% endif %}
	{% endif %}
</tr>
</table>
</div>
</div>

<p>
{% autoescape off %}
{{ game.descr }}
{% endautoescape %}
</p>

{% if not old %}

<h2>players</h2>
<table class="longturn" width=100%>
<th width=20>#</th>
<th>player</th>
{% if game.mode == 'team game' %}
<th width=150>team</th>
{% endif %}
<th>nation</th>
<th width=150>joined</th>
<th width=50>regent</th>
<th width=30 title="Participation Confirmed">pc</th>
{% for p in joineds %}
<tr class="{% cycle row0 row1 %}">
	<td>{{ forloop.counter }}</td>
	<td><a href="{% url 'profile' p.user %}">{{ p.user }}</a></td>
	{% if game.mode == 'team game' %}
	<td>{{ p.team }}</td>
	{% endif %}
	<td><div><img class="flag" src="{{ STATIC_URL }}/flags/{{ p.flag }}.png"> <span>{{ p.nation }}</span></div></td>
	<td>{{ p.date_joined|date:"d.m.Y, H:i:s" }}</td>
	<td>{% if p.delegation %}<a href="{% url 'profile' p.delegation %}">{{ p.delegation }}</a>{% else %}-{% endif %}</td>
	<td><center><img width=16 height=16 {% if p.confirmed %}src="{{ STATIC_URL }}/good.png"{% else %}src="{{ STATIC_URL }}/bad.png"{% endif %}></center></td>
</tr>
{% endfor %}
</table>
<a href="./players.txt">player list in plain text</a>

{% if not game.has_ended %}
  {% if user.is_authenticated and hasjoined and game.open%}
    <table><tr>
    {% if not game.has_started %}
      <td valign="top">
      <fieldset style="width: 420">
      <legend>sign up</legend>
      <form action="" method="post">{% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <center>
        <input class="button" type="submit" name="signin" value="modify">
        <input class="button" type="submit" name="signout" value="sign out">
        </center>
      </form>
      </fieldset>
      </td>
    {% endif %}
    {% if not game.has_started %}
      <td valign="top">
      {% if startin >= 0 %}
        <fieldset style="width: 220">
        <legend>confirm</legend>
        {% if startin > game.confirm_period %}
          You will be able to confirm your participation no sooner than
          {{ game.confirm_period }} days before the start of the game. Don't
          worry &mdash; a message will be posted on Discord and email
          notifications will be sent. A message will also be posted on the
          forum.
        {% else %}
          {% if hasjoined.confirmed %}
            You have confirmed your participation in {{ game }}. If you have changed
            your mind - sign out.
          {% else %}
            <form action="" method="post">{% csrf_token %}
            Yes, I want to participate in {{ game }} and will not become an idler.
            <center>
            <input class="button" type="submit" name="confirm" value="confirm">
            </center>
            </form>
          {% endif %}
        {% endif %}
        </fieldset>
      {% endif %}
      </td>
    {% endif %}
    </tr></table>
  {% else %}
    {% if not game.open %}
      | signups for this game are closed.
    {% else %}
      {% if user.is_authenticated %}
        <fieldset style="width: 420">
        <legend>sign up</legend>
        <form action="" method="post">{% csrf_token %}
          <table> {{ form.as_table }} </table>
          <center> <input class="button" type="submit" name="signin" value="sign in"> </center>
        </form>
        </fieldset>
      {% else %}
        | log in to sign up.
      {% endif %}
    {% endif %}
  {% endif %}
{% if user.is_authenticated and hasjoined %}
<table><tr><td valign="top">
<fieldset style="width: 420">
<legend>delegate</legend>
<form action="" method="post">{% csrf_token %}
        <table>
		{{ delegateform.as_table }}
	</table>
	<center>
	<input class="button" type="submit" name="delegate" value="delegate">
	<input class="button" type="submit" name="nodelegate" value="end delegation">
	</center>
</form>
</fieldset>
</td></tr></table>
{% elif user.is_authenticated %}
you didn't sign up for this game (or didn't confirm)
{% else %}
log in to delegate
{% endif %}
{% endif %}

{% if serv %}
{% autoescape off %}
{{ "population"|graph:game.name }}
{{ "cities"|graph:game.name }}
{{ "production"|graph:game.name }}
{{ "trade"|graph:game.name }}
{{ "units"|graph:game.name }}
{{ "kills"|graph:game.name }}
{{ "pollution"|graph:game.name }}
{% endautoescape %}
{% endif %}
{% else %}
<h2>players</h2>
<table class="longturn" width=100%>
<th width=20>#</th>
<th>player</th>
<th width=50>winner</th>
<th width=50>idler</th>
{% for p in joineds %}
<tr class="{% cycle row0 row1 %}">
	<td>{{ forloop.counter }}</td>
	<td>{{ p.user.username }}</td>
	<td><center><img width=16 height=16 {% if p.is_winner %}src="{{ STATIC_URL }}/good.png"{% else %}src="{{ STATIC_URL }}/bad.png"{% endif %}></center></td>
	<td><center><img width=16 height=16 {% if p.is_idler %}src="{{ STATIC_URL }}/good.png"{% else %}src="{{ STATIC_URL }}/bad.png"{% endif %}></center></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
