{% extends "includes/base.html" %}

{% block title %}contact{% endblock %}
{% block content %}
<h1>Contact</h1>
<p>
Players who do not discuss diplomatic treaties with their neigbours are doomed,
and will soon be conquered by an alliance of more than one player.
Most talk happens on our Discord server, and there are some alternatives if you
don't like it.
</p>
<p class="button">
<a href="https://discord.gg/98krqGm" class="button discord">Discord</a>
</p>
<h2>Forum</h2>
<p>
The forum is used for announcements that should remain available for a while.
Game-specific rules are posted there, as well as victory declarations. It is
common practice to cross-post everything on Discord. The forum can be
accessed at <a href="https://forum.longturn.net">forum.longturn.net</a>.
</p>
<h2>In-game chat</h2>
<p>
During the game, you can use the in-game chat to talk to other players. The game
chat supports links to tiles, cities and units, which is very useful to
coordinate an attack with your ally. You can also use colors etc; see the
<kbd>Help/Chatline</kbd> menu in your client to learn the full feature set.
</p>
<!--
<h2>e-mail</h2>
<p>
To contact other players by e-mail, send a message thru the player
profile. Only after the player you contacted chooses to answer will you
know his e-mail address. This is designed to prevent abuse.
</p>
-->
<h2>IRC</h2>
<p>
IRC is a way to contact the admins should everything else fail, provided they
are online. Join <kbd>#longturn</kbd> on <kbd>irc.freenode.net</kbd>.
</p>
{% endblock %}
