{% extends "includes/base.html" %}

{% block title %}contact{% endblock %}
{% block content %}
<h1>contact</h1>
<p>
Players who do not discuss diplomatic treaties with their neigbours are doomed,
and will soon be conquered by an alliance of more than one player.
Several methods of contact are provided. All types of problems should be
reported publicly, on the forum.
</p>
<h2>e-mail</h2>
<p>
To contact other players by e-mail, send a message thru the player
profile. Only after the player you contacted chooses to answer will you
know his e-mail address. This is designed to prevent abuse.
</p>
<h2>forum</h2>
<p>
To announce something to all players, make a post on the forum. This
website has been deliberately devoid of comments etc. The forum can be
accessed at <a href="http://forum.longturn.net">forum.longturn.net</a>.
</p>
<h2>Jabber</h2>
<p>
Check the info in a players profile to see if he uses Jabber.
(GoogleTalk is Jabber)
</p>
<h2>IRC</h2>
<p>
IRC can provide you with quick answers to your questions, provided
somebody is online. Join <tt>#longturn</tt> on <tt>irc.freenode.net</tt>.
</p>
<h2>In-game chat</h2>
<p>
Of course you can also chat with other players using the in-game chat.
See the <tt>Help/Chatline</tt> menu in your client to learn it's complete
functionality.
</p>
{% endblock %}
