{% extends "includes/base.html" %}

{% block title %}Longturn - because civilization should be free, and long :){% endblock %}
{% block content %}
</p>
<p><big>
</big></p>
<h1>Welcome to Longturn</h1>
<p>
You are here, because you enjoy Civilization-like games, and wish to
play a multiplayer game with 20-30 human players, across a couple of
months. You should get started by reading the <a href="{% url 'intro' %}">introduction</a>
and <a href="{% url 'rules' %}">rules</a>.
If you like what you see, <a href="{% url 'register' %}">create an account</a> and sign on to a game.
<p>
There are a few games a year and if there isn't one starting soon, check the files on this site to learn what it is all about or jump straight to the Community section, meet people, discuss and learn until a new game is on.

{% endblock %}
