{% extends "includes/base.html" %}

{% block title %}Introduction to Longturn{% endblock %}
{% block content %}
<h1>Introduction to Longturn</h1>
<p>
Longturn is not so much a different variety of Civilization game as much as it is a different play-style.
Basically, the only official difference between Longturn and any other game of Civilization is that
<b>one game turn</b> lasts <b>one day</b>. So, not 30 seconds or 2 minutes or "whatever the players agree",
but an exact amount of time that remains constant throughout the game. This means that the server is running
constantly and all players connect to it during the day -- when they get the time -- make their moves and
adjustments, and then log off to continue with their lives.
<p>
This, however, has drastic consequences for the flow of the game and the overall gaming experience.
<p>
First, when you wish to play a <b>standard</b> game of Civilization with other people, one of the main
obstacles is getting everybody together at the same time. If you are playing it on the Internet, most of the
time there will be someone ready to play, but not too many people at once. Longturn games, on the other hand,
have been known to gather many tens of players. Needless to say, a game with so many players offers unlimited
possibilities when it comes to diplomacy, war, peace, alliances, cooperation, and hostile behaviour.
<p>
This also makes a Longturn game a major social event and the closest a Civilization game can get to Massive
Multiplayer.
<p>
Second, another obstacle is finding the time to play. Even the shortest game of Civilization requires a time
investment and nobody can do it in breaks between other things. If you do not have at least half an hour of
100% concentrated attention at your disposal, it does not make sense even to start. Longturn, on the other
hand, can be played relatively casually and, if you cannot spare a large block of time, it can be played in
small chunks throughout the day. So, basically, if you are a working adult with a number of responsibilities,
but you would still like to play a world leader in your favourite game, and do it with or against other
people, this is the variant you want to play.
<p>
Third, unlike the short and fast games usually played on Civilization servers around the Internet, you have a
lot of time at your disposal to think through your every move, investigate every line of research and analyse
everything you were not able to analyse if you were playing a fast game.
<p>
Fourth, and for us this is the most important aspect of Longturn -- diplomacy is a blast. You can make
alliances, negotiate detailed deals, squabble about individual tiles, twist arms, weasel out of agreements in
a way you were never able to if you were playing fast multiplayer or just ordinary single-player games. And
you have all the time in the world to negotiate, persuade, and find the right words to do so.
<p>
<h2>How to join</h2>
<p>
Longturn.net games are starting a few times per year in roughly regular intervals, although there is no rule.
They are announced well ahead and registrations are usually open roughly a month ahead. To play a Longturn.net
game you need to do four things:
<p>1. Install Freeciv21. This can be found on <a href=https://github.com/longturn/freeciv21/releases>GitHub</a>.
Game servers are often a recent <kbd>master</kbd> branch commit or tagged release. Players can play stable, or
newer unstable releases. You can also find Freeciv21 on Flathub and Snap. Flathub is stable only.
<p>2. <a href="/account/register/">Register</a> at Longturn.net (this site).
<p>3. Sign up for the game when registrations are open <b>AND</b> confirm participation a few days before it
actually starts. You need to do <b>BOTH</b> otherwise you will not be able to play the game. This is a measure
to reduce the amount of idlers as much as possible.
<p>4. Not 100% required, but highly recommended. Join us on <a href="https://discord.gg/98krqGm">Discord</a>.
This is a fun community and the best way to keep up with how game planning is going.
<p>
<h2>History of Longturn</h2>
<p>
The first game, now called <kbd>LT0</kbd> was started around 2004 on the Polish Civilization fan page
<kbd>civ.org.pl</kbd> (since deprecated). After the game, it was decided that the game was a bit too slow
paced, so a new 3X movement ruleset was devised -- basically, all units had their movement points and vision
radius tripled.
<p>
The first game administrators were LoD (LT0), Gislan (LT1, LT2) and Lo'oris (LT3). Ever since <kbd>LT4</kbd>
Longturn was cared for by maho, and the games were hosted on his server: <kbd>pagema.net</kbd>. At the
beginning of 2011 maho resigned from his post, and akfaew took over.
<p>
In 2018 wieder_fi became the main game and server admin taking over duties from akfaew. Louis94 joined as
game and server admin in 2019. In the same year we added Corbeau and Panch93, who helped expand our social
media presence.
<p>
Most recently, in 2020, we forked Freeciv 3.0 and created Freeciv21. We released our first
<a href="https://github.com/longturn/freeciv21/releases/tag/v3.0">stable 3.0</a> in April of 2023. During this
period we picked up some developers: jwrober, TriClad, daavko, and soundnfury. As of summer 2024, jwrober and
TriClad became game and Discord admins. Not bad after 20 years!
<p>
For more history of game admins, you can refer to the <a href=/game>games</a> page.
<p>
<h2>Types of Games</h2>
<p>
Longturn games are broken down into two categories: rules and gameplay. The game rules are based on what we
call a "ruleset". We have a few standard rulesets and then some games will be a completely different set of
rules. The standard rules are LTT, and LTX (described below). Alternate rulesets are: Avi(ation), Sim(ulation),
and scenarios. Scenarios are a combination of a ruleset, a custom map, and gameplay rules.
<p>
Gameplay is the "style" of game. We have Teamless (also known as Free For All), Team, League, and Scenario
games.
<p>
<h3>Rules - LTT</h3>
<p>
Longturn Traditional (LTT) games are designed to play with rules that are very stable, well tested, and
understood. The rules are very stable, have been tested extensively across many games, and provide a level of
rule stability many players enjoy.
<p>
<h3>Rules - LTX</h3>
<p>
Longturn Experimental (LTX) games are designed to test new features and new Freeciv21 versions. After a new
version of Freeciv21 is released, an experimental game is sometimes started.
<p>
<h3>Gameplay - Team game</h3>
<p>
In a team game, you and your team mates fight against one or more teams. Diplomacy between teams is disabled
in the game server, but many teams will create a Discord server specifically for the game to have very open
communication between team players. Only one team can be victorious. The parameters of the rules can be
customized based on the team captains on what kind of game they want to play.
<p>
<h3>Gameplay - Teamless</h3>
<p>
In teamless (Free For All) games the key to victory is diplomacy. In order not to be left behind with
technology, players need to quickly form alliances. It is very rare a single player can win all alone, the cost
of war alone is a big deal. Alliances can be formal in game, or agreements in other communication channels,
such as private Discord DMs.
<p>
<h3>Gameplay - The League</h3>
<p>
The League is a type of gameplay that allows players of similar skill levels to play together. League "O" is
for brand new players. League "A" is for players with some skill, maybe played a few games. League "B" is for
winners of League "A" games. Lastly, there is a League "C" for winners of League "B" games. For more
information see <a href=/game/TheLeague/>The League</a>
<p>
<h3>Gameplay - Scenario</h3>
<p>
Scenarios are special games that incorporate a custom map, rules, and team alignment. For example, see
<a href="https://longturn21.blogspot.com/2022/02/new-scenario-game-announced-russian.html">Russian Civil War<a>
Scenario game we played recently.
</ul>
{% endblock %}
