{% extends "includes/base.html" %}

{% block title %}Introduction to Longturn{% endblock %}
{% block content %}
<h1>Introduction to Longturn</h1>
<hr>
<h2>Quick description</h2>
<p>
I assume you know what <a href="http://freeciv.wikia.com">Freeciv</a>
is. Longturn is a lot like a normal multiplayer game of Freeciv, except
the turn timeout is 23 hours, and there are at least 20 human players
(we never play with AI!). A typical game lasts about 100-160 turns.
</p>
<hr>
<h2>History of Longturn</h2>
<p>
The first game, now called <tt>LT0</tt> was started around 2004 on the Polish
Civilization fanpage <tt>civ.org.pl</tt>. You can read about the first
game here: <a href="http://www.civ.org.pl/freeciv/Slow/slow-eng.php">http://www.civ.org.pl/freeciv/Slow/slow-eng.php</a>.
It was decided that the game is a bit too slow paced, so a new 3X
movement ruleset was devised - basically, all units had their movement
points and vision radius trippled.
</p>
<p>
The first game administrators were LoD (LT0), Gislan (LT1, LT2) and Lo'oris (LT3).
Ever since <tt>LT4</tt> Longturn was cared for by maho, and the
games were hosted on his server, <tt>pagema.net</tt>. At the beginning
of 2011 maho resigned from his post, and akfaew took over.
</p>

<hr>
<h2>Types of game</h2>
<p>
There are three main types of gameplay:
</p>
<h3>LTeX</h3>
<p>
Experimental games are designed to test new features and new Freeciv
versions. After a new version of Freeciv is released, an experimental
game is started. Regular games will be based on the rulesets of an
experimental game. New players can be spawned into an experimental game
at any time. Their starting technology and units are based on the
average of existing players. Because of this, there are no winners or
losers. Longturn has some custom patches for the server. Before a patch
can be accepted, it has to be tested in an experimental game.
</p>

<h3>Team game</h3>
<p>
In a team game, you and your team mates fight against other teams.
Diplomacy between teams is disabled. Team science is shared. Only one
team can be victorious.
</p>

<h3>Teamless</h3>
<p>
In teamless (Free For All) games the key to victory is diplomacy. In
order not to be left behind with technology, players need to quickly
form alliances.
</p>
<hr>
<h2>Joining the game</h2>
<p>
</p>
First of all, read the <a href="{% url rules %}">rules</a>. After that,
create an account, sign on to a pregame and wait for it to start. Or join a 
<tt>LTeX</tt> game, if one is currently being run. You can also go to the forum and 
sign up at a substitution list to take over an idle account if any is 
available. If you have any questions, ask on
the <a href="http://forum.longturn.net">forum</a> or on
<a href="http://en.wikipedia.org/wiki/IRC">IRC</a>: <tt>#longturn</tt> on <tt>irc.freenode.net</tt>.
</p>
<hr>
<h2>Do I need to download anything to play?</h2>
<p>Yes, you need a Freeciv client.</p>
<p>If you use Windows you should
get an installer from the <a href="http://freeciv.wikia.com/wiki/Main_Page">Freeciv main page</a>.</p>
<p>
If you use Linux/Mac you can use your package manager, or better
yet <a href="http://freeciv.wikia.com/wiki/Svn">build from sources</a>.
It seems a bug is fixed every week, so keeping up to date with
the subversion repo is recommended. Installing is not required
for starting the game, after the build is complete a shell
script called <tt>civ</tt> is created - use it to start your
client. If you intend to write custom patches to your client be
sure to read the <a href="{% url rules %}">rules</a>.
</p>
<hr>
<h2>Which version of the game should I use?</h2>
<p>The version is specified on each <a href="{% url game_list %}">game page</a>.</p>
<p>If you build your client from source be sure to use a
<tt>S</tt> branch, not <tt>R</tt>. So for example, if a server
runs version <tt>2.3</tt>, check out <tt>S2_3</tt>.</p>
<hr>
</ul>
{% endblock %}
