{% extends "includes/base.html" %}

{% block title %}Introduction to Longturn{% endblock %}
{% block content %}
<h1>Introduction to Longturn</h1>
<p>
Longturn is not so much a different variety of Civilization game as much as it is a different playstyle. Basically, the only official difference between LongTurn and any other game of Civilization is that <b>one game turn</b> lasts <b>one day</b>. So, not 30 seconds or 2 minutes or "whatever the players agree" but an exact amount of time that remains constant throughout the game. This means that the server is running constantly and all players connect to it during the day - when they get the time - make their moves and adjustments, and then log off to continue with their lives.
<p>
This, however, has drastic consequences for the flow of the game and the overall gaming experience.
<p>
  Firstly, when you wish to play a <b>standard</b> game of Civ with other people, one of the main obstacles is getting everybody together at the same time. If you are playing it on the internet, most of the time there will be someone ready to play, but not too many people at once. LongTurn games, on the other hand, have been known to gather many tens of players. Needless to say, a game with so many players offers unlimited possibilities when it comes to diplomacy, war, peace, alliances, cooperation and hostile behaviour.
<p>
This also makes a Longturn game a major social event and the closest a Civilization game can get to Massive Mutiplayer ;)
<p>
Secondly, another obstacle is finding the time to play. Even the shortest game of Civ requires a time investment and nobody can do it in breaks between other things. If you don't have at least half an hour of 100% concentrated attention at your disposal, it doesn't make sense even to start. LongTurn, on the other hand, can be played relatively casually and, if you can't spare a large block of time, it can be played in small chunks throughout the day. So, basically, if you are a working adult with a number of responsibilities, but you would still like to play a world leader in your favourite game, and do it with or against other people, this is the variant you want to play.
<p>
Thirdly, unlike the short and fast games usually played on FreeCiv servers arount the net, you have a lot of time at your disposal to think through your every move, investigate every line of research and analyse everything you weren't able to analyse if you were playing a fast game.
<p>
Fourthly, and for me this is the most important aspect of LongTurn, diplomacy is a blast. You can make alliances, negotiate detailed deals, squabble about individual tiles, twist arms, weasle out of agreements in a way you were never able to if you were playing fast multiplayer or just ordinary single-player games. And you have all the time in the world to negotiate, persuade and find the right words to do so. 
<p>
<h2>How to join</h2>
<p>
Longturn.net games are starting a few times per year in roughly regular intervals, although there is no rule. They are announced well ahead and registrations are usually open roughly a month ahead. To play a Longturn.net game you need to do three things:
<p> 1. Install a Freeciv native client. This can be found at <href=http://freeciv.org>Freeciv.org</a>. Usually a game will be run on the newest version of server/client, but not always (for various reasons). Sometimes you may need to download and install an older version of the client. Older versions of Freeciv are also available on the Download page of Freeciv.org. Information about which Freeciv version is required for a particular LT game should be readily available on the game page (top right).
<p> 2. Register at Longturn.net (this site).
<p> 3. Sign up for the game when registrations are open <b>AND</b> confirm participation a few days before it actually starts. You need to do <b>BOTH</b> otherwise you will not be able to play the game. This is a measure to reduce the amount of idler as much as possible.
<h2>History of Longturn</h2>
<p>
The first game, now called <tt>LT0</tt> was started around 2004 on the Polish
Civilization fanpage <tt>civ.org.pl</tt>. You can read about the first
game here: <a href="http://www.civ.org.pl/freeciv/Slow/slow-eng.php">http://www.civ.org.pl/freeciv/Slow/slow-eng.php</a>.
It was decided that the game is a bit too slow paced, so a new 3X
movement ruleset was devised - basically, all units had their movement
points and vision radius trippled.
</p>
<p>
The first game administrators were LoD (LT0), Gislan (LT1, LT2) and Lo'oris (LT3).
Ever since <tt>LT4</tt> Longturn was cared for by maho, and the
games were hosted on his server, <tt>pagema.net</tt>. At the beginning
of 2011 maho resigned from his post, and akfaew took over.
</p>

<h2>Types of game</h2>
<p>
There are three main types of gameplay:
</p>
<h3>LTeX</h3>
<p>
Experimental games are designed to test new features and new Freeciv
versions. After a new version of Freeciv is released, an experimental
game is started. Regular games will be based on the rulesets of an
experimental game. New players can be spawned into an experimental game
at any time. Their starting technology and units are based on the
average of existing players. Because of this, there are no winners or
losers. Longturn has some custom patches for the server. Before a patch
can be accepted, it has to be tested in an experimental game.
</p>

<h3>Team game</h3>
<p>
In a team game, you and your team mates fight against other teams.
Diplomacy between teams is disabled. Team science is shared. Only one
team can be victorious.
</p>

<h3>Teamless</h3>
<p>
In teamless (Free For All) games the key to victory is diplomacy. In
order not to be left behind with technology, players need to quickly
form alliances.
</p>
</ul>
{% endblock %}