{% extends "includes/base.html" %}

{% block title %}LW game rules{% endblock %}
{% block content %}
<h1>Rules of Ladder Wars</h1>
<hr>
The rules are rewritten from <a href="http://forum.longturn.org/viewtopic.php?id=335">LW Thread</a>. Please read them, if you have any questions please write them in LW forum.
<ol>
<li>Main rules</li>
	<ol>
		<li>Games will be plaing in small boards with something like 15 active players.</li>
		<li>There will be a number of simultaneous games (probably 4).</li>
		<li>Fixed start of all games.</li>
		<li>After a person/team declares victory on appropriate forum by listing the current turn and winning player(s), the remaining players have 7 turns to oppose this claim. RIP players cannot oppose. If you post accepting your defeat you are survivor, if you do not reply, you will be considered a RIP player.</li>
		<li>After the one game has an official winner, all remaining games must complete within 37 turns or a tie is declared.</li>
		<li>Deadlines for all states (start-end of signups, polls, games, etc.)</li>
		<li>First Ladder will be set from Kryon’s Ranking List.</li>
		<li>Next games will be sorted by Ladder system.</li>
		<li>Players will be sorted by Ladder system and transferred to specific boards.</li>
		<li>All players could join new system but there will be punishment for being idlers.</li>
		<li>New players (from second wave) join the median game of the Ladder.</li>
		<li>A single player or alliance can win a game.</li>
		<li>The maximum number of winners for each game is determined by the number of starting players. For every 5 players in each game, there can be an additional winner.</li>
		<li>Each winner receives 3 points, 1 point for survivor or tie, 0 points for R.I.P.</li>
		<li>Minor points (determined by number of units killed) will help sort Ladder.</li>
	</ol>
</ol>
{% endblock %}
