{% extends "includes/base.html" %}

{% block title %}game rules{% endblock %}
{% block content %}
<h1>Rules of Longturn</h1>
<hr>
The rules are simple and few, therefore you are required to read and follow them.
<ol>
<li>Profiles and signups</li>
	<ol>
		<li>Every player must have a <tt>longturn.net</tt> account.</li>
		<li>Use of IRC or Jabber is recommended. You should also have an account on the forum.</li>
		<li>If you decided to enter your email address you will receive notifications of new games. Note that low quality free email providers can reject these emails, as they are sent to multiple recipients at once.</li>
		<li>Anyone can join a game by clicking the "sign on" button in the appropriate game page.</li>
		<li>With the exception of <b>experimental</b> games, users can sign on, and sign out during the pregame state only.</li>
		<li>The starting date of a game will be announced with at least one week advance.</li>
		<li>Right before the game starts confirmations are enabled. To have a nation created in the game you must explicitly confirm your willingness to play by pressing the "confirm" button in the appropriate game page.</li>
		<li>A game starts when there are enough players, settings have been agreed upon, and an advance notice has been given.</li>
		<li>The first turn lasts three days (3x23 hours).</li>
		<li>Inactive players who never played in a ranking game will have their accounts periodically deleted.</li>
		<li>Each player can only have one account. If more than one player will use the same IP address a post explaining the situation must be made in the forum of any affected game.</li>
	</ol>

<li>Basic gameplay</li>
	<ol>
		<li>Game settings are decided by the game admin.</li>
		<li>Any competent player can become a game admin.</li>
		<li>With the exception of <b>experimental</b> games, game settings cannot be changed after the game has started.</li>
		<li>The game is saved periodically. If the server crashes, the game will be restored from the last save.</li>
		<li>It is common courtesy to log out and let your enemy do his moves in peace, after you have done yours. Notorious abusers can be kicked out and will develop a bad reputation.</li>
		<li>Local client modifications (patches) are acceptable, as long as automatic attack, automatic moves or similar functionality is not implemented.</li>
		<li>Breaking the rules can result in removal from the affected game, temporary ban from new games or complete account deletion.</li>
	</ol>

<li>Ranking</li>
	<ol>
		<li>Ranking games are explicitly marked as such.</li>
		<li>There can be more than one different ranking.</li>
	</ol>

<li>Idling</li>
	<ol>
		<li>Every player should make his moves every turn. If you plan on missing the next turn you should inform your allies or team mates in advance.</li>
		<li>If a player is idle (does not log in) for more than 10 turns, or 3 turns from the beginning of the game or his creation time, he might be removed from the game or his nation given away.</li>
		<li>If a player does not want to, or cannot play anymore he should inform the other players. His nation will either be removed or given away.</li>
	</ol>

<li>Delegations</li>
	<ol>
		<li>If unable to do his moves a player should delegate control of his nation.</li>
		<li>Passwords are secret. Sharing passwords with other players is forbidden.</li>
		<li>Delegation should occur only when really necessary, and canceled as soon as the player is able to do his moves again.</li>
		<li>In <b>team games</b> delegating to players from outside of the team is forbidden.</li>
		<li>Controlling two nations for too long is frowned upon. If the original player is away for too long his nation may be removed or given away to someone else.</li>
	</ol>

<li>Declaring victors</li>
	<ol>
	<li>A game can have one of the following outcomes:</li>
		<ul>
		<li>Unfinished - the game was not finished.</li>
		<li>Tie - no player claimed victory, or the time limit (if any) has passed.</li>
		<li>Victory - one or more players have won.</li>
		</ul>
	<li>A <b>team game</b> can be won by only one team by either:</li>
		<ul>
		<li>Military defeat of all other teams.</li>
		<li>Winning the space race (if enabled).</li>
		<li>Surrender - all other live players have surrendered.</li>
		<li>Another condition, agreed upon before the game started.</li>
		</ul>
	<li>A <b>teamless game</b> can be won by one player, or an alliance formed by a number of players no bigger than was agreed upon before the game started, by either:</li>
		<ul>
		<li>Military defeat of all other players.</li>
		<li>Winning the space race (if enabled).</li>
		<li>Surrender - all other live players have surrendered.</li>
		<li>Another condition, agreed upon before the game started.</li>
		</ul>
	<li>An <b>experimental game</b> cannot be won, as it is by nature endless.</li>
	</ol>
</ol>
{% endblock %}
