{% extends "includes/base.html" %}

{% block title %}game rules{% endblock %}
{% block content %}
<h1>Rules of Longturn</h1>
<p>
The rules are simple and few, therefore you are required to read and follow them.
</p>
<h2>Profiles and signups</h2>
<ol>
<li> Every player must have a longturn.net account.
<li> Use of  Discord is recommended. You should also have an account on the forum.
<li> If you decided to enter your email address you may receive messages about the games. We may sometimes send reminders about the games. Note that low quality free email providers can reject these emails if they are sent to multiple recipients at once.
<li> Anyone can join a game by clicking the "sign on" button in the appropriate game page.
<li> With the exception of experimental games, users can sign on, and sign out during the pregame state only.
<li> The starting date of a game will be announced with at least one week advance.
<li> Right before the game starts confirmations are enabled. To have a nation created in the game you must explicitly confirm your willingness to play by pressing the "confirm" button in the appropriate game page.
<li> A game starts when there are enough players, settings have been agreed upon, and an advance notice has been given.
<li> The first turn lasts at least three days (3x23 hours).
<li> Inactive players who never played in a ranking game will have their accounts periodically deleted.
<li> Each player can only have one account. If more than one player will use the same IP address a post explaining the situation must be made in the forum of any affected game.
</ol>
<h2>Basic gameplay</h2>
<ol>
<li> Game settings are decided by the game admin.
<li> Any competent player can become a game admin.
<li> With the exception of experimental games, game settings cannot be changed after the game has started.
<li> The game is saved periodically. If the server crashes, the game will be restored from the last save.
<li> Local client modifications (patches) are acceptable, as long as automatic attack, automatic moves or similar functionality is not implemented.
<li> Breaking the rules can result in in-game penalties, removal from the affected game, temporary ban from new games or complete account deletion.
</ol>
<h2>Player Behavior</h2>
<ol>
<li> We strive to keep the games fun for everyone. Stay respectful and have a good time and make some friends.
<li> Staying online 24/7 is not allowed without a permission.
<li> Staying online for more than 6 hours during one turn may result in the player being kicked out.
<li> Interfering with someone else's play is not allowed. This is for example reinforcing a city while under attack. (We call this Real-Time Strategy or RTS for short.) For practical reasons, an exception is made for a two-hours period around turn change. Players are free to agree on different rules.
</ol>
<h2>Idling</h2>
<ol>
<li> Every player should make moves every turn. If you plan on missing the next turn you should inform your allies or team mates in advance.
<li> If a player is idle (does not log in) for more than 3 turns, or does not play the first turn in the beginning of the game or their creation time, the player might be removed from the game or the nation given away. Common sense will be used when making this decision.
<li> If a player does not want to, or cannot play anymore the player should inform the other players. Their nation will either be removed or given away.
</ol>
<h2>Delegations</h2>
<ol>
<li> If unable to do their moves a player should delegate control of their nation. Delegating can be done from the game page, see bottom of that page.
<li> Passwords are secret. Sharing passwords with other players is forbidden.
<li> Delegation should occur only when really necessary, and canceled as soon as the player is able to do their moves again.
<li> In <strong>team games</strong> delegating to players from outside of the team is forbidden.
<li> Controlling two nations for too long is frowned upon. If the original player is away for too long their nation may be removed or given away to someone else.
</ol>
<h2>Declaring victors</h2>
<ol>
<li> A game can have one of the following outcomes:
	<dl>
		<dt>Unfinished</dt><dd>the game was not finished.</dd>
		<dt>Tie</dt><dd>no player claimed victory, or the time limit (if any) has passed.</dd>
		<dt>Victory</dt><dd>one or more players have won.</dd>
	</dl>
<li> A <strong>team game</strong> can be won by only one team by either:
	<ul>
		<li>Military defeat of all other teams.
		<li>Winning the space race (if enabled).
		<li>Surrender - all other live players have surrendered.
		<li>Another condition, agreed upon before the game started.
	</ul>
<li> A <strong>teamless game</strong> can be won by one player, or an alliance formed by a number of players no bigger than was agreed upon before the game started, by either:
	<ul>
		<li>Military defeat of all other players.
		<li>Winning the space race (if enabled).
		<li>Surrender - all other live players have surrendered.
		<li>Another condition, agreed upon before the game started.
	</ul>
<li> An <strong>experimental game</strong> cannot be won, as it is by nature endless.
    The rules may not apply to all games. If a game has other winning conditions or rules, there should be a description of those in a forum post.
</ol>
<h2>Code of Conduct</h2>
<ol>
<li>  For games: We are playing a game - and it should be fun for all sides. Stay respectful and have a good time and make some friends.
<li>  For other community spaces: Be nice, use common sense and talk in the appropriate channel.
</ol>
<h2>Warning System</h2>
<ol>
<li> If you get an official warning from a mod, you will be notified by the bot. The punishments (which are automated) are, @slowed-down for a day for 3 warnings. 2 more days when you get the 4th warning and 180 days when you get the 5th warning. Mods of course have the say/ability to clear the warnings for any user.  @slowed-down users are not allowed to post messages in any channel apart from slow-rant, where the a user can only send messages once every 30 mins. Additional warnings after the 5th one might lead to a ban
</ol>
{% endblock %}
