{% extends "includes/base.html" %}
{% load temps %}

{% block title %}screenshots{% endblock %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<link rel="stylesheet" href='{{ STATIC_URL }}/hoverbox/hoverbox.css' type="text/css" media="screen, projection" />
<!--[if lte IE 7]>
<link rel="stylesheet" href='{{ STATIC_URL }}/hoverbox/ie_fixes.css' type="text/css" media="screen, projection" />
<![endif]-->

<h1>screenshots</h1>
<hr>

<h2>LT26</h2>
<hr>
<p>
<ul class="hoverbox">
<li><a href="{{ MEDIA_URL }}/screenshots/lt26/lt26.001.png"><img src="{{ MEDIA_URL }}/screenshots/lt26/lt26.001.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt26/lt26.001.png" alt="description" class="preview" /></a></li>
</ul>
</p>

<h2>LT27</h2>
<hr>
<p>
<ul class="hoverbox">
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.001.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.001.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.001.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.002.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.002.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.002.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.003.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.003.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.003.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.004.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.004.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.004.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.005.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.005.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.005.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.006.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.006.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.006.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.007.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.007.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.007.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.008.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.008.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.008.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.009.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.009.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.009.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.010.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.010.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.010.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt27/lt27.011.png"><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.011.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt27/lt27.011.png" alt="description" class="preview" /></a></li>
</ul>
</p>

<h2>LTeX23</h2>
<hr>
<p>
<ul class="hoverbox">
<li><a href="{{ MEDIA_URL }}/screenshots/ltex23/ltex23.001.png"><img src="{{ MEDIA_URL }}/screenshots/ltex23/ltex23.001.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/ltex23/ltex23.001.png" alt="description" class="preview" /></a></li>
</ul>
</p>

<h2>LT28</h2>
<hr>
<p>
<ul class="hoverbox">
<li><a href="{{ MEDIA_URL }}/screenshots/lt28/lt28.001.png"><img src="{{ MEDIA_URL }}/screenshots/lt28/lt28.001.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt28/lt28.001.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt28/lt28.002.png"><img src="{{ MEDIA_URL }}/screenshots/lt28/lt28.002.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt28/lt28.002.png" alt="description" class="preview" /></a></li>
</ul>
</p>

<h2>LT29</h2>
<hr>
<p>
<ul class="hoverbox">
<li><a href="{{ MEDIA_URL }}/screenshots/lt29/lt29.001.png"><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.001.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.001.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt29/lt29.002.png"><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.002.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.002.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt29/lt29.003.png"><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.003.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.003.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt29/lt29.004.png"><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.004.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.004.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt29/lt29.005.png"><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.005.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.005.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt29/lt29.006.png"><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.006.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.006.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt29/lt29.007.png"><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.007.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.007.png" alt="description" class="preview" /></a></li>
<li><a href="{{ MEDIA_URL }}/screenshots/lt29/lt29.008.png"><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.008.png" alt="description" /><img src="{{ MEDIA_URL }}/screenshots/lt29/lt29.008.png" alt="description" class="preview" /></a></li>
</ul>
</p>

{% endblock %}
