{% extends "includes/base.html" %}

{% block title %}machines{% endblock %}
{% block content %}
<h1>Longturn machines</h1>
<hr>
<p>
Over the years a lot of different machines served our games.
</p>
<table class="longturn" width=100%>
<th colspan="2">raptor.pagema.net</th>
<tr>
	<td class="cat">hostname</td>
	<td class="val">longturn.org (defunct)</td>
</tr>
<tr>
	<td class="cat">operator</td>
	<td class="val">maho</td>
</tr>
<tr>
	<td class="cat">location</td>
	<td class="val">Poland</td>
</tr>
<tr>
	<td class="cat">info</td>
	<td class="val">raptor served longturn games since <tt>LT4</tt></td>
</tr>
<th colspan="2">rex.pagema.net</th>
<tr>
	<td class="cat">hostname</td>
	<td class="val">longturn.org (defunct)</td>
</tr>
<tr>
	<td class="cat">operator</td>
	<td class="val">maho</td>
</tr>
<tr>
	<td class="cat">location</td>
	<td class="val">Poland</td>
</tr>
<tr>
	<td class="cat">info</td>
	<td class="val">replacement for raptor.</td>
</tr>
<th colspan="2">spock.jasminek.net</th>
<tr>
	<td class="cat">hostname</td>
	<td class="val">ltex23.longturn.org (defunct), git.longturn.org (defunct)</td>
</tr>
<tr>
	<td class="cat">games</td>
	<td class="val">LTeX23</td>
</tr>
<tr>
	<td class="cat">operator</td>
	<td class="val">akfaew</td>
</tr>
<tr>
	<td class="cat">location</td>
	<td class="val">Poland</td>
</tr>
<tr>
	<td class="cat">info</td>
	<td class="val"></td>
</tr>
<th colspan="2">kirk.jasminek.net</th>
<tr>
	<td class="cat">hostname</td>
	<td class="val">longturn.org</td>
</tr>
<tr>
	<td class="cat">operator</td>
	<td class="val">akfaew</td>
</tr>
<tr>
	<td class="cat">location</td>
	<td class="val">Poland</td>
</tr>
<tr>
	<td class="cat">info</td>
	<td class="val">in 2011 Longturn was temporarily moved to kirk</td>
</tr>
<th colspan="2">games5.gp.net.nz</th>
<tr>
	<td class="cat">hostname</td>
	<td class="val">lt30.longturn.org (defunct), lt31.longturn.org (defunct)</td>
</tr>
<tr>
	<td class="cat">games</td>
	<td class="val">LT30, LT31</td>
</tr>
<tr>
	<td class="cat">operator</td>
	<td class="val">akfaew</td>
</tr>
<tr>
	<td class="cat">location</td>
	<td class="val">New Zealand</td>
</tr>
<tr>
	<td class="cat">info</td>
	<td class="val">James Nepia of <a href="http://gameplanet.co.nz">gameplanet.co.nz</a>
	has allowed us to use one of his servers to run LT30 and LT31. On
	01.01.2013 this server has crashed, and was replaced by games1.</td>
</tr>
<th colspan="2">games1.gp.net.nz</th>
<tr>
	<td class="cat">hostname</td>
	<td class="val">lt31.longturn.org (defunct)</td>
</tr>
<tr>
	<td class="cat">games</td>
	<td class="val">LT31</td>
</tr>
<tr>
	<td class="cat">operator</td>
	<td class="val">akfaew</td>
</tr>
<tr>
	<td class="cat">location</td>
	<td class="val">New Zealand</td>
</tr>
<tr>
	<td class="cat">info</td>
	<td class="val">Replacement for games5.</td>
</tr>
<th colspan="2">nessus.at</th>
<tr>
	<td class="cat">hostname</td>
	<td class="val">longturn.org</td>
</tr>
<tr>
	<td class="cat">games</td>
	<td class="val">LT31, LT32, LW1</td>
</tr>
<tr>
	<td class="cat">operator</td>
	<td class="val">akfaew</td>
</tr>
<tr>
	<td class="cat">location</td>
	<td class="val">Austria</td>
</tr>
<tr>
	<td class="cat">info</td>
	<td class="val">After games5 crashed meshugga gave us access to
	his server. It's hosted by nessus.at. Thanks!</td>
</tr>
</table>
{% endblock %}
